/*
      de 0px a 800px
        --mobile S 320px
        --mobile M 375px
        --Mobile L 425px
        --tablette 768px
      */


html {
    height: 100%;
    background-color: #f3f6f8;

}
body{
    margin: 0px;

  }
h3#autretext {
    display: none;
}

div#pgauche {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

div#contenaireimg {}

img.imggauche.img-responsive {
    max-width: 49%;
    margin-left: 24%;
    /* border-radius: 999px; */
    /* border: solid; */
    /* border-color: #38b791; */
    margin-top: 7%;
}

div#pdroite {
  background-color: #f3f6f8;

}
#pgauche {

background: linear-gradient(rgba(4, 169, 153, 0.85), rgba(204, 204, 168, 0.75), rgb(44, 110, 126)), url(https://images.pexels.com/photos/1852/dawn-landscape-mountains-nature.jpg?h=350&auto=compress);
    background-repeat: round;
}
div#containerelmpartiedroite {display: flex;flex-direction: column;margin-top: 0%;}

h1.signup {
    text-align: center;
    margin-right: 6%;
    margin-top: 0%;
    padding-top: 38px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 9px 0px;
    position: relative;
}
.hide-password-login{
    /* display: inline-block; */
    font-family: cursive;
    position: absolute;
    right: 85px;
    top: 45%;
    font-size: 14px;
    font-size: 0.875rem;
    color: #7f8ba3;
    text-decoration: none;
}


.optin {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  width: 75%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 10px 15px;
  text-align: left;
  font-size: 18px;
  color: #333333;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-weight: 300;
}

.messagederrure {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
    border: 1px solid rgba(222, 46, 46, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  width: 75%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 10px 15px;
  text-align: left;
  font-size: 18px;
    color: #d44d4d;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-weight: 300;
}
.optin:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.optin:focus {
  background-color: white;
  width: 90%;
  color: #CD98E3;
}
.liendeconnexion{
    text-align: center;
    font-family: "lato";
    font-size: 20px;
    font-weight: 800;
    color: #7e8ba3;
}
.connexion{
    color: #7e8ba3;
    font-size: 1em;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease-out;
    display:inline-block;
}
.connexion:hover{
  color: #39bc9f;
  font-size: large;
  }
#t {
    background-image: linear-gradient(160deg, rgba(4, 107, 124, 0) 0%, #0eaf8a 100%);
    margin-top: 1rem;
    color: #fff;
    margin-left: 23%;
    margin-bottom: 0rem;
    width: 50%;
    padding: .5rem 1rem;
    border: 1px solid #f3f6f8;
    border-radius: 999px;
    background-color: transparent;
    text-align: center;
}
/*********les controles formulaires******/
#email:required ,#password:required ,#name:required ,#passwordCon:required{
    color: #31586f;
}
#email:valid ,#name:valid  {
    color: green;
    border-color: green;
    background: url(jj.png) right no-repeat;
    background-position: 95%
}
#password:valid ,#passwordCon:valid{
  color: green;
  border-color: green;
  background: url(jj.png) right no-repeat;
  background-position: 97%
}
/***********fin controles formulaire*******/
/*mise en forme du hide password de la page dinscription*/
.hide-password {
    /* display: inline-block; */
    position: absolute;
    right: 85px;
        top: 65%;
    font-size: 14px;
    font-size: 0.875rem;
    color: #7f8ba3;
    text-decoration: none;
        font-family: cursive;
}

/*mise en forme du hide password de condfirmation mot de passe*/
.hide-password-con{

  position: absolute;
  right: 85px;
      top: 77%;
  font-size: 14px;
  font-size: 0.875rem;
  color: #7f8ba3;
  text-decoration: none;
      font-family: cursive;
}
/**********termes et conditions***********/
.buttton {
  font-size: 1em;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease-out;
  display:inline-block;
}
.buttton:hover{
  color: #39bc9f;
  font-size: large;
  }


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 18px;
  background: #fff;
  border-radius: 5px;
  width: 64%;
  position: relative;
  transition: all 5s ease-in-out;
  height: 60%;
}


.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 85%;
  overflow: auto;
}

select#langues {
    width: 79%;
    color: #797979;
}
@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}
/**********fin termes et conditions******/
/* terme et condition*/
#termeetcondtion {
  display: block;
  margin: auto;
  color:#2c6c7d;
  font-family: "lato";
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  z-index: 3;
}
/* terme et condition cliquable*/
#termclique {
  cursor: pointer;
  color: #FBADC1;
}
.signup {
    color: #838fa6;
    font-family: "lato";
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    z-index: 3;
}
h2#titrewelcome {
    color: #b3d458;
}
/************LES ANIMATION DE LA PAGE*/
         /*animation du  contenaire de gauche a droite*/
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  /*animation de la partie gauche de bas en haut*/
  .bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 3000px, 0);
  transform: translate3d(0, 3000px, 0);
  }
  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  }
  75% {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  }
  90% {
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
  }
  100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  }
  @keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 3000px, 0);
  transform: translate3d(0, 3000px, 0);
  }
  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  }
  75% {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  }
  90% {
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
  }
  100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  }
/*animation de la partie droite*/
.bounceInDown {
 -webkit-animation-name: bounceInDown;
 animation-name: bounceInDown;
 -webkit-animation-duration: 1s;
 animation-duration: 1s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
 }
 @-webkit-keyframes bounceInDown {
 0%, 60%, 75%, 90%, 100% {
 -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
 transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
 }

 0% {
 opacity: 0;
 -webkit-transform: translate3d(0, -3000px, 0);
 transform: translate3d(0, -3000px, 0);
 }

 60% {
 opacity: 1;
 -webkit-transform: translate3d(0, 25px, 0);
 transform: translate3d(0, 25px, 0);
 }

 75% {
 -webkit-transform: translate3d(0, -10px, 0);
 transform: translate3d(0, -10px, 0);
 }

 90% {
 -webkit-transform: translate3d(0, 5px, 0);
 transform: translate3d(0, 5px, 0);
 }

 100% {
 -webkit-transform: none;
 transform: none;
 }
 }

 @keyframes bounceInDown {
 0%, 60%, 75%, 90%, 100% {
 -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
 transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
 }

 0% {
 opacity: 0;
 -webkit-transform: translate3d(0, -3000px, 0);
 transform: translate3d(0, -3000px, 0);
 }

 60% {
 opacity: 1;
 -webkit-transform: translate3d(0, 25px, 0);
 transform: translate3d(0, 25px, 0);
 }

 75% {
 -webkit-transform: translate3d(0, -10px, 0);
 transform: translate3d(0, -10px, 0);
 }

 90% {
 -webkit-transform: translate3d(0, 5px, 0);
 transform: translate3d(0, 5px, 0);
 }

 100% {
 -webkit-transform: none;
 transform: none;
 }
 }
/**************************/
